body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 1100px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
}

.column,
.column2{
  padding: 0 20px;
}

.column {
  grid-column: 1; /* Todos os elementos da coluna 1 */
}

.column2 {
  grid-column: 2; /* Todos os elementos da coluna 2 */
}
h1{
  text-align: center;
}

h2 {
  grid-column: 1 / -1;
  text-align: center;
}

form {
  display: grid;
  gap: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"],
select {
  width: 100%;
  padding: 10px ;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.required-asterisk {
  color: red;
}
